body {
  background-color: black;
  color: red;
  font-family: sans-serif;
}

#messages {
  height: 400px;
  overflow-y: auto;
  border: 2px solid red;
  padding: 10px;
}

#messageInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #222;
  color: red;
  border: 1px solid red;
}
